.main_img{
    width: 100%;
    height: 17vw;
    object-fit: cover;
}
.imgstg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}

.maincont {
    margin-top: 20px;
  }

body {
    background-image: linear-gradient(rgba(24, 24, 36,0.85),rgba(24, 24, 36, 0.85)), url("../img/Без\ имени-1.jpg");
    
}


.main_h {
    position: absolute;
    align-self: center;
    margin-top: 4%;
    
}


.main_h_p {
    font-size: 3vw;
    color: aliceblue;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}


.name {
    position: absolute;
    top: 2%;
    left: 1%;
    
}


.name_p {
    font-size: 2.5vw;
    color: aliceblue;
    text-decoration: underline;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

/*  для дива погоды */
.weather {
    position: absolute;
    top: 2%;
    right: 1%;
    width: 15%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    font-family: 'Raleway', sans-serif;
}


.img_weather_cont {
    display: flex;
    align-items: center;
    
  }
  

/*  для текста внутри  */
.name_weather {
    margin-top: 13px;
    margin-bottom: 5px;
    font-size: 2vw;
    color: aliceblue;
    
}

.graduce{
    font-size: 5vw;
    color: aliceblue;
    text-align: center;
}

.date{
    text-align: center;
    color: #fff;
    font-size: 1.5vw;
}

/* Стили для блока ввода на странице */
.input_d{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    display: flex;
    bottom:30px

}


/* Стили для блока ввода на странице */
.in_t {
    flex-grow: 0.8;
    height: 6vh;
    font-size: 0.9vw;
    padding-left: 20px;
    border: none;
    border-radius: 15px;
    background-color: rgba(24,24, 36,0.5);
    color: aliceblue;
    padding-right: 70px;
    outline: none;
    font-family: 'Raleway', sans-serif;
  }

/* Стили для кнопки внутри блока ввода */
.in {
    background-color: rgba(48,48,59);
    border: 0;
    color: aliceblue;
    width: 10vw;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 1vw;
    font-family: 'Raleway', sans-serif;
    
  }
/* Стили для списка задач на странице */
.tasklist {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* Стили для элементов списка задач */
.tasklist li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 1vw;
    word-break: break-all;
    width: 46%;
    font-family: 'Roboto Slab', serif
}



/* Стили для кнопки "галочка" внутри элементов списка задач */
.tasklist li .button1 {
    background-color: rgba(255, 255, 255, 0);
    background-image: url("../img/free-icon-check-mark-1443000.png");
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: 1.5vw 1.5vw;
    border: 0;
    padding: 0;
    width: 1.5vw;
    height: 1.5vw;
    cursor: pointer;
}

/* Стили для кнопки "корзина" внутри элементов списка задач */
.tasklist li .button2 {
    background-color: rgba(255, 255, 255, 0);
    background-image: url('../img/free-icon-bin-5976474.png');
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: 1.9vw 1.5vw;
    border: 0;
    padding: 0;
    width: 1.9vw;
    height: 1.5vw;
    cursor: pointer;
    word-wrap: break-word;
}

.conteiner_2-th{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;

    
}
.timer{
    background-color: rgba(255, 255, 255, 0.06);
    width: 100%;
    height: 70px;
    border-radius: 40px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:60px ;
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
 
}











